Source: turtlebot-ros-fuerte
Section: science
Priority: extra
Maintainer: I Heart Engineering <code@iheartengineering.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3

Package: turtlebot-ros-fuerte
Architecture: any
Depends: ${misc:Depends}, python, daemontools, build-essential, ros-fuerte-turtlebot, ros-fuerte-turtlebot-viz, ros-fuerte-turtlebot-apps
Provides: turtlebot-ros
Description: ROS Fuerte specific TurtleBot files
Conflicts: 
